body {
    max-width:500px;
  }

.parent {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .container {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr 1fr;
        grid-template-rows: 0.8fr 1.8fr 0.4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Image Anime-Name Anime-Name"
          "Image Status Status"
          ". . .";
      }
      
      .Image { grid-area: Image; }
      
      .Anime-Name {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.7fr 1fr 1.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          "Name Name Name"
          ". . .";
        grid-area: Anime-Name;
      }
      
      .Name { grid-area: Name; }
      
      .Status {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          "Real-Status Real-Status Real-Status";
        grid-area: Status;
      }
      

      .Real-Status { grid-area: Real-Status; }
      