::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7; 
}
.container {
    display: grid;
    grid-template-rows: 20px 300px;
    grid-auto-rows: minmax(200px,auto);
    grid-template-columns: 150px auto;

  }
.item1{
  grid-column: span 2;
  text-align: center;
}
.item2{
  display: grid;
  grid-template-rows: 150px 150px;
  background-color: rgb(172, 206, 206);
}
.item3{
  display: grid;
  grid-template-rows: 20px 280px;
  gap: 5px;
  background-color: rgb(87, 186, 211);
}

.status{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;

}
.description{
  overflow-x: auto

}
